{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Tasks
    </div>

    <ul class="list-group list-group-flush">

        {% for task in tasks %}
        {% include "partials/task_item.html" with task=task %}
        {% endfor %}

    </ul>
</div>


<div class="card mt-4" style="width: 18rem;">
    <div class="card-header">
        Projects
    </div>

    <div
        class="card-body py-2"
        id="project-form-container"
        hx-get="{% url 'project-create' %}"
        hx-trigger="load"
    ></div>

    <ul class="list-group list-group-flush" id="project-list">
        {% for project in projects %}
        {% include "partials/project_item.html" with project=project %}
        {% endfor %}
    </ul>
</div>

{% endblock content %}
